.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
input::placeholder {
  color: rgb(224, 219, 219);
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .loginContainer {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.419);
  }
}
.loginContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 350px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.419);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 1px 5px 10px;
}
.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo > img {
  width: 150px;
}
.logo > h3 {
  /* color: white; */
  font-size: 2rem;
  font-weight: 500;
}

.logo > p {
  margin-top: 20px;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: center;
}
.loginContent {
  display: flex;
  flex-direction: column;
}
.loginContent > input {
  padding: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid lightgray;
  background-color: transparent;
  color: #000;
  border-radius: 5px;
  font-size: 1.1rem;
}
.loginContent > button {
  margin-top: 10px;
  padding: 10px;
  background-color: #1a73e8;
  color: white;
  outline: none;
  border-radius: 5px;
  font-size: 1.1rem;
  border: none;
  /* border: 2px solid rgb(0, 0, 255); */
  cursor: pointer;
}
.loginContent > button:hover {
  background-color: #1268d8;
}
.loginContent > button:last-child {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(220, 20, 60, 0.637);
  color: white;
  outline: none;
  border-radius: 5px;
  font-size: 1.1rem;
  /* border: 2px solid rgb(255, 0, 51); */
  cursor: pointer;
}
.loginContent > button:last-child:hover {
  background-color: rgba(220, 20, 60, 0.8737);
}

.loginContainer > p {
  margin-top: 13px;
  color: #000;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: 500;
}
.loginContainer > p:hover {
  background-color: rgba(238, 227, 227, 0.938);
  width: fit-content;
  border-radius: 4px;
  /* color: blue; */
  text-decoration: underline blue;
}
