.sidebar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  padding: 10px;
  flex: 0.02;
  border-right: 2px solid rgba(49, 48, 48, 0.7);
}
.sidebarTop,
.sidebarBottom,
.sidebarOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTop {
  flex: 1;
  margin-top: 10px;
}
.sidebarOption {
  margin-bottom: 10px;
}

.sidebarOption > img {
  padding: 8px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 3px 5px rgba(65, 63, 63, 0.35);
  cursor: pointer;
}
.sidebarOption > img:hover {
  filter: invert(1);
}

.sidebarIcons > .MuiSvgIcon-root {
  padding: 3.5px;
  color: rgba(47, 48, 48, 0.7);
  font-size: 20px;
}
.sidebarIcons > .MuiSvgIcon-root:hover {
  border-radius: 50%;
  transition: 0.25s ease-in-out;
  height: 27px;
  width: 27px;
  color: #fff;
  background-color: rgba(114, 110, 110, 0.25);
}

.sidebarBottom {
  border-top: 2px solid rgba(114, 110, 110, 0.25);
}
.sidebarOptions {
  margin-top: 10px;
}
.sidebarLast {
  display: flex;
  border-top: 2px solid rgba(114, 110, 110, 0.25);
}
.sidebarIcons > img {
  padding: 5px;
  opacity: 0.6;
}
