.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./images/gmail_bg.jpg");
  background-position: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  min-height: fit-content;
  min-width: fit-content;
}
